.html {
  font-size: 62.5% !important;
}

.header {
  background-color: transparent;
  position: fixed;
}

body{
  position: relative;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding-inline-start: 0;
  display: grid;
  width: 100%;
  height: 100%;
}

@media(992px <= width <= 1200px ) {
  html {
    font-size: 65% !important;
  }
}

@media(768px <= width <= 991px) {
  html {
    font-size: 55% !important;
  }

  #root{
    width: 100% !important;
  }
  .main-circle-div{
    width: 100%;
  }
}

@media( 600px <= width <= 768px) {
  html {
    font-size: 45% !important;
  }
  #root {
    width: 100% !important;
  }
  .main-circle-div{
    width: 100%;
  }
}

@media(600 > width){
  html{
    font-size: 35%;
  }
  #root {
    width: 100% !important;
  }
  .main-circle-div{
    width: 100%;
  }
}



