.main-circle-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 180rem; /*Adjust the height according to the component height*/
    width: 100%;
    align-self: center;
    align-content: flex-start;
    background: linear-gradient(to right, #ffffff, rgb(245, 210, 245), rgb(209, 223, 250), #dde3ff, #cad1fa, rgb(245, 210, 245), #ffffff);
}

.scrolling-div {
    display: block;
    background-color: black;
    /* padding: 1.6rem; */
    height: 180rem; /*Adjust the height according to the component height*/
    width: 100%;
    border-radius: 50%;
    align-self: center;
    background-image: url(./Ethereum-Logo-PNG-HD-Image.png);
    background-position: center;
    background-size: 40rem 80rem;
    background-repeat: no-repeat;
}

.main-circle-div-update{
    background: black;
}

.scrolling-div-update {
    background-image: none;
}

.display-none {
    display: none;
}

.display-content {
    display: flex;
    color: white;
    align-self: center;
    margin-top: 10rem;
    background-color: black;
    width: 100%;
    height: 100rem;
}

.when-on-mobile-screen {
    display: none;
    color: white;
    justify-content: center;
    height: 83.2rem;
    width: 100%;
    align-self: center;
    align-content: flex-start;
    background-color: black;
}

@media (768px <= width <= 991px){
    .main-circle-div{
        width: 100%;
    }

    .main-circle-div-update{
        width: 100%;
    }
}

@media (width <= 745px ){
    .scrolling-div {
        display: none;
    }

    .update {
        display: none;
    }

    .when-on-mobile-screen {
        display: flex;
    }
}